*, *::before, *::after {
    box-sizing: border-box;
}

/* MOBILE NAV MENU */
#nav-links {
    display: none;
}

#nav-links.nav-open {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
}

#nav-toggle {
    margin-left: auto;
}

/*NAV MENU*/
body > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    background-color: rgb(237, 236, 206);
}

nav a {
    padding: 0.5em;
}

.list-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
    padding:  clamp(0.5em, 4vw, 1.2em);
}

.category-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.75rem;
}

.list-section > div {
    flex-basis: 20rem;
}

.category-grid {
    border: 3px solid blue;
    padding: clamp(0.5em, 5vw, 2em);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.75rem;
    list-style: none;
    margin: 0;
}

.category-grid button {
    width: 100%;
    padding: 0.5em;
}

#shopping-items-heading {
    grid-column: 1 / -1;
}

@media (min-width: 40rem) {
    .category-list {
        grid-template-columns: repeat(3, 1fr);
    }
    /* MOBILE NAV MENU*/
    #nav-toggle {
        display: none;
    }

    #nav-links {
        display: flex;
        flex-direction: row;
    }

    #nav-links.nav-open {
        flex-direction: row;
        flex-basis: auto;
}
}

